<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "meta.html" . }}
    <title>
        {{ block "title" . }}
            {{ if .IsHome }}
                {{ .Site.Params.seoTitle | default .Site.Title }}
            {{ else }}
                {{ .Title }} — {{ .Site.Params.author.name | default .Site.Title }}
            {{ end }}
        {{ end }}
    </title>
</head>

<body>
    {{ partial "navigation.html" . }}

    <main>
        {{ block "main" . }}
        {{ end }}
    </main>

    <footer>
        {{ partial "footer.html" . }}
    </footer>

</body>