{{ define "main" }}
    {{ .Content }}
    <section class="posts-section">
        <ul class="posts-list">
            {{ range .Paginator.Pages }}
                <li class="post-item">
                    <h3>
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    </h3>
                    {{ if .Summary }}
                        <p class="post-summary">{{ .Summary }}</p>
                    {{ end }}
                    <div class="post-meta">
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ .Date.Format "January 2, 2006" }}
                        </time>
                        {{ if $.Site.Params.intensedebate.acct }}
                            <span class="comment-count">
                                <a href="{{ .RelPermalink }}#IDCommentsHead">
                                    <span class="IDCommentsCount" data-disqus-url="{{ .Permalink }}"></span>
                                </a>
                            </span>
                        {{ end }}
                        {{ with .GetTerms "tags" }}
                            <div class="post-tags">
                                {{ range . }}
                                    <a href="{{ .RelPermalink }}" class="tag-link">#{{ .LinkTitle }}</a>
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                </li>
            {{ end }}
        </ul>
    </section>

    {{ partial "pagination.html" . }}

    {{ if .Site.Params.intensedebate.acct }}
    <script>
    var idcomments_acct = '{{ .Site.Params.intensedebate.acct }}';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericLinkWrapperV2.js'></script>
    {{ end }}
{{ end }}

