{{ define "main" }}
    <article class="h-entry">
        <h1 class="p-name">{{ .Title }}</h1>
        {{ partial "post-metadata.html" . }}
        {{ if .Params.summary }}
            <p class="post-summary p-summary">{{ .Params.summary }}</p>
        {{ end }}
        {{ if .Params.image }}
            {{- with .Resources.GetMatch .Params.image }}
                {{ $orig := .Resize "1360x" }}
                {{ $webp := $orig.Process "webp" }}
                <picture>
                    <source srcset="{{ $webp.Permalink }}" type="image/webp">
                    <img src="{{ $orig.Permalink }}" alt="{{ $.Title }}" class="post-image u-photo" loading="lazy" width="{{ $orig.Width }}" height="{{ $orig.Height }}" />
                </picture>
            {{- end }}
        {{ end }}
        {{ if and .Lastmod (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
            <p class="post-updated">
                Updated <time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod | time.Format ":date_long" }}</time>
            </p>
        {{ end }}
        <section class="e-content">
            {{ .Content }}
        </section>
        <a class="u-url" href="{{ .Permalink }}" hidden></a>
    </article>

    {{ partial "intensedebate-comments.html" . }}
    {{- with .Site.Params.webmention }}
        {{- if .domain }}
            {{ partial "webmention.html" $ }}
        {{- end }}
    {{- end }}
{{ end }}
