{{ define "main" }}
    <article>
        <h1>{{ .Title }}</h1>
        {{ partial "post-metadata.html" . }}
        {{ if .Params.summary }}
            <p class="post-summary">{{ .Params.summary }}</p>
        {{ end }}
        {{ if .Params.image }}
            {{- with .Resources.GetMatch .Params.image }}
                <img src="{{ .Permalink }}" alt="{{ $.Title }}" class="post-image" />
            {{- end }}
        {{ end }}
        <section>
            {{ .Content }}
        </section>
    </article>
{{ end }}