{{- $schema := .Site.Params.schema -}}
{
  "@type": "Person",
  "@id": "{{ .Site.BaseURL }}#person",
  "name": {{ printf "%s %s" $schema.givenName $schema.familyName | jsonify }},
  "givenName": {{ $schema.givenName | jsonify }},
  "familyName": {{ $schema.familyName | jsonify }},
  "url": "{{ .Site.BaseURL }}"
  {{- if $schema.jobTitle }},
  "jobTitle": {{ $schema.jobTitle | jsonify }}
  {{- end }}
  {{- if $schema.description }},
  "description": {{ $schema.description | jsonify }}
  {{- end }}
  {{- if or $schema.addressLocality $schema.addressCountry }},
  "address": {
    "@type": "PostalAddress"
    {{- if $schema.addressLocality }},
    "addressLocality": {{ $schema.addressLocality | jsonify }}
    {{- end }}
    {{- if $schema.addressCountry }},
    "addressCountry": {{ $schema.addressCountry | jsonify }}
    {{- end }}
  }
  {{- end }}
  {{- if $schema.knowsAbout }},
  "knowsAbout": {{ $schema.knowsAbout | jsonify }}
  {{- end }}
  {{- if $schema.sameAs }},
  "sameAs": {{ $schema.sameAs | jsonify }}
  {{- end }}
  {{- if $schema.alumniOf }},
  "alumniOf": [
    {{- range $i, $v := $schema.alumniOf }}{{ if $i }}, {{ end }}{
      "@type": "Organization",
      "name": {{ $v.name | jsonify }}
      {{- if $v.url }},
      "url": {{ $v.url | jsonify }}
      {{- end }}
    }
    {{- end }}
  ]
  {{- end }}
  {{- if .Site.Params.author.avatar }},
  "image": "{{ .Site.Params.author.avatar | absURL }}"
  {{- end }}
}
