<section class="postMetadata">
    {{ $author := "" }}
    {{ if .Params.author }}
        {{ $author = .Params.author }}
    {{ else if .Site.Params.author.name }}
        {{ $author = .Site.Params.author.name }}
    {{ end }}
    
    <!-- First line: Avatar, Author, Reading Time, Date -->
    <div class="post-meta-line">
        {{ if and $author .Site.Params.author.avatar }}
            <span class="author-avatar">{{ partial "avatar/avatar-small.html" . }}</span>
        {{ end }}
        {{ if $author }}
            <span class="author-name">{{ $author }}</span>
        {{ end }}
        {{ if .Site.Params.readingTime | default true }}
            <span class="reading-time">{{ i18n "reading_time_desc" .ReadingTime }}</span>
        {{ end }}
        {{ if .Site.Params.published | default true }}
            <span class="publish-date">
                {{ $formattedDate := .Date.Format "2006-01-02" }}
                <time datetime="{{ $formattedDate }}">{{ .Date | time.Format ":date_long" }}</time>
            </span>
        {{ end }}
    </div>
    
    <!-- Second line: Tags -->
    {{ with .GetTerms "tags" }}
        <div class="post-tags-line">
            {{ range . }}
                <a href="{{ .RelPermalink }}" class="tag-link">#{{ .LinkTitle }}</a>
            {{ end }}
        </div>
    {{ end }}
    
    <!-- Keep other metadata for backward compatibility -->
    {{ with .GetTerms "authors" }}
        <dl style="display: none;">
            {{ partial "taxonomy/authors.html" . }}
        </dl>
    {{ end }}
    {{ with .GetTerms "categories" }}
        <dl style="display: none;">
            {{ partial "taxonomy/categories.html" . }}
        </dl>
    {{ end }}
</section>
